@charset "UTF-8";
/**
 * 
 * @authors 谢志强 (594613537)
 * @date    2016-05-18 01:14:13
 * @version v1.0.0
 */
@-webkit-keyframes loader21 {
	0% {
		-webkit-transform: scale(1, 1);
	}
	100% {
		-webkit-transform: scale(1, 0.3);
	}
}
.loader-21 div {
	width: 5px;
	height: 35px;
	background: #fff;
	border-radius: 2px;
	margin-right: 0.03rem;
	display: inline-block;
}
.loader-21 div:nth-child(1) {
	-webkit-animation: loader21 0.5s -0.3s ease-in-out infinite alternate;
}
.loader-21 div:nth-child(2) {
	-webkit-animation: loader21 0.5s -0.15s ease-in-out infinite alternate;
}
.loader-21 div:nth-child(3) {
	-webkit-animation: loader21 0.5s 0s ease-in-out infinite alternate;
}
.loader-21 div:nth-child(4) {
	-webkit-animation: loader21 0.5s -0.15s ease-in-out infinite alternate;
}
.loader-21 div:nth-child(5) {
	-webkit-animation: loader21 0.5s -0.4s ease-in-out infinite alternate;
}
@-webkit-keyframes loader39-1{
	0%{
		-webkit-transform: translate(0px, 0px);
	}
	25%{
		-webkit-transform: translate(-30px,0px);
	}
	50%{
		-webkit-transform: translate(0px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
	}
}
@-webkit-keyframes loader39-2{
	0%{
		-webkit-transform: translate(0px, 0px);
	}
	25%{
		-webkit-transform: translate(30px,0px);
	}
	50%{
		-webkit-transform: translate(0px,0px);
	}
	100%{
		-webkit-transform: translate(0px,0px);
	}
}
.loader-39{
	height:20px;
	width:150px;
}
.loader-39 span{
	width:15px;
	height:15px;
	background:#fff;
	border-radius:50%;
	display:inline-block;
}
.loader-39 span:nth-child(1){
	-webkit-animation: loader39-1 infinite 1.5s linear;
}
.loader-39 span:nth-child(5){
	-webkit-animation: loader39-2 infinite -0.75s 1.5s linear;
}
@-webkit-keyframes loader40-1{
	33%{
		-webkit-transform: rotate(90deg);
	}
	100%{
		-webkit-transform: rotate(90deg);
	}
}
@-webkit-keyframes loader40-2{
	66%{
		-webkit-transform: rotate(180deg);
	}
	100%{
		-webkit-transform: rotate(180deg);
	}
}
@-webkit-keyframes loader40-3{
	100%{
		-webkit-transform: rotate(270deg);
	}
}